body {
    margin: 0px;
}

.topnav {
    background-color: indigo;
    word-spacing: 50px;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    margin: 0px;
    position: relative;
    bottom: 5px;
}
body {
    font-family: sans-serif;
    background-color: turquoise;
    color: paleturquoise;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: grey;
}
.main-head {
    font-weight: bold;
    font-size: 48px;
    text-align: center;  
    background-color: turquoise;
}
h2.subtitle {
    text-align: center;
    background-color: turquoise;
}

img {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
}
hr {
    border-top: 5px solid indigo;
    width: 1175px;
}
#portfolio {
    font-size: 38px;
    margin-top: none;
    margin-bottom: none;
    padding-bottom: 100px;
    color: gray;
}
h3 {
    text-indent: 10px;
    padding: 2px;
}
ul {
    list-style: none;
} 

#contact {
    font-size: 38px;
    color: gray;
}

#budgetwise {
    height: 200px;
    position: relative;
    right: 1000px;
    bottom: 265px;
}
#kenziestub {
    height: 275px;
    position: relative;
    right: 500px;
    bottom: 300px;
}
#theark {
    height: 130px;
    position: relative;
    right: 550px;
    bottom: 350px;
    border-style: ridge;
    border-width: 10px;
    border-color: whitesmoke;
}
#userexp {
    height: 150px;
    position: relative;
    right: 370px;
    bottom: 130px;
} 

#main-image {
    position: relative;
    display: inline-block;
    right: 5px;
    bottom: 425px;
    width: 45%;
    border-radius: 20%;
    border-style: groove;
    border-width: 5px;
    margin-right: 5px;
}
button {
    background-color: white;
    color: indigo;
    font-size: 10px;
    border-radius: 10px;
    display: inline-block;
    text-align: justify;
    padding: 12px 28px;
    font-weight: bold;
    transition-duration: 0.4s;
    position: relative;
    left: 255px;
    bottom: 50px;
}
button:hover {
    background-color: turquoise;
    color: whitesmoke;
}
.sp1 {
    background-color: indigo;
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    width: 50%;
    margin-left: 15px;
    border-style: solid;
    border-color: whitesmoke;
    font-size: 18px;
    line-height: 25px;
    text-indent: 15px;
}
.p2 {
    background: indigo;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 550px;
    border-radius: 10px;
    border-style: solid;
    position: relative;
    left: 600px;
    margin: 20px;
    font-size: 18px;
    line-height: 40px;
    bottom: 90px;
}
strong.proj {
    font-style: bold;
}
.uxcert {
    color: whitesmoke;
}
.p1 {
    font-size: 48px;
    text-align: center;  
    background-color: turquoise;
    font-family: cursive;
}
.p3 {
    background-color: indigo;
    padding-top: 5px;
}
.email {
    position: relative;
    left: 20px;
    margin-bottom: 100%;
}
