.topnav {
    background-color: indigo;
    word-spacing: 50px;
    text-align: center;
    padding: 50px;
    font-size: 25px;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: grey;
}
.main-head {
    font-weight: bold;
    font-size: 48px;
    text-align: center;    
}
h2.subtitle {
    text-align: center;
}
body {
    font-family: sans-serif;
    background-color: turquoise;
    color: gray;
}
img {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
}
p {
    font-size: 20px;
    line-height: 20px;
    text-indent: 15px;
    padding: 20px;
}
#portfolio {
    font-size: 38px;
    background-color: indigo;
}
h3 {
    text-indent: 10px;
    padding: 2px;
} 
.proj {
    margin: 20px;
    font-weight: bold;
    font-size: 15px;
}
#contact {
    font-size: 38px;
    background-color: indigo;
}

#budgetwise {
    height: 150px;
    position: relative;
    left: -500px;
    top: -75px;
}
#kenziestub {
    height: 200px;
    position: relative;
    left: -300px;
    top: -132px;
}
#theark {
    height: 100px;
    position: relative;
    left: -60px;
    top: -115px;
}
#userexp {
    height: 100px;
    position: relative;
    left: 245px;
    top: -150px;
} 