@font-face {
    font-family: "Roboto";
    src: url(Roboto-Regular-webfont.woff) format(woff);
}
@font-face {
    font-family: "Black Jack";
    src: url(blackjack-webfont.woff);
}
@font-face {
    font-family: "DroidSans";
    src: url(DroidSans-webfont.woff);
}
@font-face {
    font-family: "DroidSansBold";
    src: url(DroidSans-Bold-webfont.woff);
}
body {
    margin: 0px;
    font-family: "DroidSans";
    background-color: turquoise;
    color: paleturquoise;
    height: 1400px;
}

.topnav {
    background-color: indigo;
    background-image: linear-gradient(-90deg, mediumpurple, indigo);
    word-spacing: 50px;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    margin: 0px;
    position: relative;
    bottom: 5px;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: grey;
}
.main-head {
    font-weight: bold;
    font-size: 48px;
    text-align: center;  
    background-color: turquoise;
}
h2.subtitle {
    text-align: center;
    background-color: turquoise;
}
img {
    margin: auto;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
}
.intro {
    font-family: "DroidSansBold";
}
#portfolio {
    font-size: 48px;
    padding-bottom: 100px;
    color: gray;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 2px #aaa;
    position: relative;
    left: 650px;
}
h3 {
    text-indent: 10px;
    padding: 2px;
}
ul {
    list-style: none;
} 
#budgetwise {
    height: 200px;
    position: relative;
    right:  1290px;
    bottom: 280px;
    border-style: ridge;
    border-width: 10px;
    border-color: whitesmoke;
    margin: auto;
}
#kenziestub {
    height: 275px;
    position: relative;
    right: 600px;
    bottom: 350px;
    border-style: ridge;
    border-width: 10px;
    border-color: whitesmoke;
    margin: auto
}
#theark {
    height: 130px;
    position: relative;
    right: 745px;
    bottom: 380px;
    border-style: ridge;
    border-width: 10px;
    border-color: whitesmoke;
    margin: auto;
}
#userexp {
    height: 150px;
    position: relative;
    right: 555px;
    bottom: 200px;
    border-style: ridge;
    border-width: 10px;
    border-color: whitesmoke;
    margin: auto;
} 

#main-image {
    position: relative;
    display: inline-block;
    right: 5px;
    bottom: 425px;
    width: 45%;
    border-radius: 20%;
    border-style: groove;
    border-width: 5px;
    margin-right: 5px;
}
button {
    background-color: white;
    color: indigo;
    font-size: 10px;
    border-radius: 10px;
    display: inline-block;
    text-align: justify;
    padding: 12px 28px;
    font-weight: bold;
    transition-duration: 0.4s;
    position: relative;
    left: 315px;
    bottom: 50px;
    cursor: pointer;
}
button:hover {
    background-color: turquoise;
    color: whitesmoke;
}
.button {
    position: relative;
    display: inline-block;
    left: 1045px;
    bottom: 160px;
}
.sp1 {
    background-color: indigo;
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    width: 50%;
    margin-left: 15px;
    border-style: solid;
    border-color: mediumpurple;
    font-size: 18px;
    line-height: 25px;
    text-indent: 15px;
}
.p2 {
    background: mediumpurple;
    padding-top: 5px;
    padding-bottom: 30px;
    width: 550px;
    border-radius: 10px;
    border-style: solid;
    border-color: indigo;
    position: relative;
    left: 800px;
    margin: 20px;
    font-size: 18px;
    line-height: 40px;
    bottom: 90px;
}
strong.proj {
    font-style: bold;
}
.uxcert {
    color: whitesmoke;
    font-family: "DroidSansBold";
}
.p1 {
    font-size: 64px;
    text-align: center;  
    background-color: turquoise;
    font-family: 'Dancing Script', cursive;
    color: gray;
    text-shadow: 4px 4px 4px #aaa;
    padding-top: 40px;
    padding-bottom: 50px;
}
.bottomnav {
    text-indent: 15px;
    color: whitesmoke;
    font-size: 20px;
    background-color: indigo;
    width: 1440px;
    position: relative;
    margin: 0px;
    top: 100%;
    padding-bottom: 100px;
}
#contact {
    font-size: 26px;
    color: gray;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

